/*--------------------------------------------------------------
# Font-scss
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Header Start
--------------------------------------------------------------*/
header {
  background: url(../img/lamb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 900px;
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 3%;
    li {
      display: inline-block;
      margin: 0 20px;
      a {
        font-family: "Montserrat", sans-serif;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        &:hover {
          transition: 0.7s;
          color: #11ee36;
        }
      }
    }
  }
  .header-item {
    position: absolute;
    left: 4vw;
    padding-top: 200px;
    p {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 18px;
    }
    h1 {
      font-family: "Poppins", sans-serif;
      color: #fff;
      font-size: 45px;
      margin-bottom: 30px;
    }
    a {
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: #fff;
      background: #009e28;
      text-decoration: none;
      font-size: 15px;
      padding: 10px 80px;
      letter-spacing: 1px;
      &:hover {
        transition: 0.5s;
        background: #008321;
      }
    }
  }
  /*--------------------------------------------------------------
  # Characteristic 
  --------------------------------------------------------------*/
  .characteristic {
    position: absolute;
    right: 4vw;
    padding-top: 150px;
    text-align: center;
  }
  .kw {
    h1 {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    p {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .speed {
    margin: 35px 0 35px 0;
    h1 {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    p {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .sec {
    h1 {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    p {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

.logo {
  padding-top: 15px;
  width: 18%;
  max-width: 100%;
}

/*--------------------------------------------------------------
# Search modal
--------------------------------------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.698); /* Black w/ opacity */
}
.modal-content {
  transition: opacity 200ms;
  position: relative;
  background-color: #181818;
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 90%;
}

.close {
  cursor: pointer;
  color: #fff;
  float: right;
  font-size: 50px;
  position: relative;
}
.close-s {
  margin-right: 4rem;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
}
.modal-item {
  padding-top: 50px;
  h1 {
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }
  p {
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.site-s {
  position: absolute;
  left: 10vw;
}
.search-s {
  margin-top: 100px;
}
.container {
  position: absolute;
  margin: auto;
  top: 30vw;
  left: 10vw;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #009e28;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all 0.5s;
    }
  }
  input {
    font-family: "Poppins", sans-serif;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #009e28;
    color: white;
    text-shadow: 0 0 10px #009e28;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #009e28, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

/*--------------------------------------------------------------
# Chat modal
--------------------------------------------------------------*/
.overlay {
  position: absolute;
  z-index: 100000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  opacity: 0;
  visibility: hidden;
  &:target {
    visibility: visible;
    opacity: 1;
  }
}
.popup {
  position: relative;
  padding: 20px;
  background: #181818;
  width: 100%;
  height: 90%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  h1 {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 100;
  }
  .close-p {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
  }
  nav {
    padding-top: 50px;
  }
  li {
    padding: 18px;
    list-style: none;
    text-align: center;
  }
  a {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  /*--------------------------------------------------------------
# Contact form
--------------------------------------------------------------*/
  .contact-form {
    font-family: 16px;
    margin: 100px auto;
    max-width: 600px;
    width: 100%;
  }
  .contact-form .form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .contact-form textarea {
    border: solid 1px #e8e8e8;
    font-family: "Montserrat", sans-serif;
    padding: 10px 7px;
    margin-bottom: 15px;
    outline: none;
    font-size: 20px;
    border-radius: 15px;
    resize: none;
    background: #3b3b3be1;
    color: #fff;
  }
  .contact-form textarea::placeholder {
    color: #fff;
  }
  .contact-form .button {
    background: #009e28;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    border: solid 1px #009e28;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto;
  }
  .contact-form .button {
    font-size: 15px;
    border-radius: 30px;
  }
}

/*--------------------------------------------------------------
# Burger-menu
--------------------------------------------------------------*/
.burger-menu {
  display: none;
}
.header-menu {
  position: relative;
  z-index: 1;
}
/*--------------------------------------------------------------
# @media(1541px)
--------------------------------------------------------------*/
@media (max-width: 1541px) {
  body.lock {
    overflow-y: hidden;
  }
  header {
    height: 800px;
    .header__nav li a {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      text-decoration: none;
      font-size: 25px;
    }
  }
  .burger-menu {
    margin-right: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    position: relative;
    height: 23px;
    width: 30px;
    z-index: 10;
    & > span,
    &:before,
    &:after {
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 10px;
      display: block;
      transition: all 0.2s;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
    }
    &:before {
      transform-origin: center center;
      top: 0;
    }
    &:after {
      transform-origin: center center;
      bottom: 0;
    }
    & > span {
      opacity: 1;
    }
    &.active {
      & > span {
        opacity: 0;
      }
      &:after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
      &:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  .header-menu {
    & > nav > ul {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      & > li {
        margin: 0;
        padding: 30px 0px;
        text-align: center;
        width: 100%;
        position: relative;
        &:hover:before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          display: block;
          bottom: 0;
          background-color: #181818;
        }
      }
    }
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    transition: all 0.5s;
    background-color: #181818;
    &.active {
      right: 0;
      transition: all 0.5s;
    }
  }
}
/*--------------------------------------------------------------
# @media(1250px)
--------------------------------------------------------------*/
@media (max-width: 1250px) {
  .container {
    top: 50vw;
  }
  .popup,
  .modal-content {
    height: 100%;
  }

  header .characteristic {
    padding-top: 430px;
  }
  header .header-item {
    padding-top: 450px;
  }
  header .kw h1,
  header .sec h1,
  header .speed h1 {
    font-size: 30px;
  }
  header .kw p,
  header .speed p,
  header .sec p,
  header .header-item a {
    font-size: 14px;
  }
  header .header-item p {
    font-size: 16px;
  }
  header .header-item h1 {
    font-size: 40px;
  }
  header .header__nav li a {
    font-size: 20px;
  }
  .header-menu > nav > ul > li {
    padding: 20px 0px;
  }
  .modal-item p {
    font-size: 70px;
  }
}
/*--------------------------------------------------------------
# @media(768px)
--------------------------------------------------------------*/
@media (max-width: 768px) {
  .modal-item p {
    font-size: 55px;
  }
  .container {
    top: 60vw;
  }
  header {
    height: 1270px;
  }
  header .characteristic {
    padding-top: 930px;
    right: 0;
    left: 0;
  }
  header .kw h1,
  header .sec h1,
  header .speed h1 {
    font-size: 26px;
  }
  header .kw p,
  header .speed p,
  header .sec p,
  header .header-item a {
    font-size: 11px;
  }
  header .header-item {
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 750px;
  }
  header .header-item h1 {
    font-size: 35px;
  }
  header .header-item p {
    font-size: 15px;
  }
  header .header-item a {
    padding: 10px 40px;
  }
  .modal-item p {
    font-size: 50px;
  }
  .popup .close-p {
    right: 3.5vw;
  }
  .burger-menu {
    height: 25px;
    width: 45px;
  }
}
/*--------------------------------------------------------------
# @media(576px)
--------------------------------------------------------------*/
@media (max-width: 576px) {
  .modal-item h1,
  .close-s {
    font-size: 16px;
  }
  .modal-item p {
    font-size: 36px;
  }
  .container {
    top: 80vw;
  }
  .burger-menu {
    width: 60px;
  }
  .logo {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .burger-menu {
    width: 70px;
  }
  .logo {
    width: 40%;
  }
  .popup h1 {
    padding-top: 8px;
    font-size: 17px;
  }
  .popup a {
    font-size: 15px;
  }
  .popup,
  .modal-content {
    height: 120%;
  }
  .contact-form textarea::placeholder {
    font-size: 15px;
  }
  .popup .contact-form .button {
    font-size: 12px;
  }
  .modal-item p {
    font-size: 27px;
  }
  .modal-item h1,
  .close-s {
    font-size: 12px;
  }
  .close-s {
    top: 4vw;
  }
  .container .search {
    width: 60px;
    height: 60px;
  }
  .container input:focus {
    width: 250px;
  }
  .container input:focus ~ .search {
    right: -200px;
  }
  .container {
    left: 0;
  }
  .popup .contact-form textarea {
    font-size: 15px;
  }
  .header-menu > nav > ul {
    margin-top: 105px;
  }
}
